<!DOCTYPE html>
<html>
<head>
    <title>Item List</title>
</head>
<body>
    <h1>Item List</h1>
    <ul>
        {% for item in items %}
            <li>
                {{ item.name }}
                <br>
                {{ item.description }}
                <br>
                <a href="{% url 'item_update' item.pk %}"><button>Edit</button></a>
                <a href="{% url 'item_delete' item.pk %}"><button>Delete</button></a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'item_create' %}">Create New Item</a>
</body>
</html>
